:root {
    --background: hsl(0, 0%, 100%);
    --background-h: 0;
    --background-s: 0%;
    --background-l: 100%;

    --text: hsl(0, 0%, 19%);
    --text-h: 0;
    --text-s: 0%;
    --text-l: 19%;

    --primary: hsl(163, 29%, 50%);
    --primary-h: 163;
    --primary-s: 29%;
    --primary-l: 50%;

    --accent: hsl(37, 70%, 51%);
    --accent-h: 107;
    --accent-s: 100%;
    --accent-l: 63%;

    --success: hsl(56, 40%, 48%);
    --success-h: 56;
    --success-s: 40%;
    --success-l: 48%;

    --danger: hsl(4, 90%, 58%);
    --danger-h: 4;
    --danger-s: 90%;
    --danger-l: 58%;

    --inverse-text: hsl(156, 38%, 97%);
    --inverse-text-h: 156;
    --inverse-text-s: 38%;
    --inverse-text-l: 97%;

    --scrollbar: hsla(var(--background-h), var(--background-s), 50%, 1);
    --scrollbar-track: hsla(var(--background-h), var(--background-s), 90%, 1);
}

.dark {

    --background: hsl(0, 0%, 20%);
    --background-h: 0;
    --background-s: 0%;
    --background-l: 20%;

    --text: hsl(0, 0%, 93%);
    --text-h: 0;
    --text-s: 0%;
    --text-l: 93%;

    --primary: hsl(164, 38%, 29%);
    --primary-h: 164;
    --primary-s: 38%;
    --primary-l: 29%;

    --accent: hsl(37, 70%, 51%);
    --accent-h: 107;
    --accent-s: 100%;
    --accent-l: 63%;

    --success: hsl(59, 44%, 26%);
    --success-h: 59;
    --success-s: 44%;
    --success-l: 26%;

    --danger: hsl(4, 64%, 30%);
    --danger-h: 4;
    --danger-s: 64%;
    --danger-l: 30%;

    --inverse-text: hsl(156, 38%, 97%);
    --inverse-text-h: 156;
    --inverse-text-s: 38%;
    --inverse-text-l: 97%;

    --scrollbar: hsla(var(--background-h), var(--background-s), 50%, 1);
    --scrollbar-track: hsla(var(--background-h), var(--background-s), 90%, 1);
}